# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ui
# dependencies
./ui/node_modules/
./ui/.next/
next-env.d.ts

# misc
.DS_Store
*.pem

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
ui/.next
ui/node_modules
