basePath: /v1
definitions:
  github_com_svenrisse_bookshelf_internal_models.ActivateUser:
    properties:
      token:
        example: 2MADKDVCV2VC...
        type: string
    type: object
  github_com_svenrisse_bookshelf_internal_models.Book:
    description: Book information
    properties:
      author:
        example: J.R.R. Tolkien
        type: string
      genres:
        example:
        - Fantasy
        - Epic
        - Children's literature
        items:
          type: string
        type: array
      pages:
        example: 320
        type: integer
      title:
        example: The Hobbit
        type: string
      year:
        example: 1937
        type: integer
    type: object
  github_com_svenrisse_bookshelf_internal_models.CreateToken:
    properties:
      email:
        example: example@example.net
        type: string
      password:
        example: pa55word
        type: string
    type: object
  github_com_svenrisse_bookshelf_internal_models.CreateUser:
    properties:
      email:
        example: testuser@testing.com
        type: string
      name:
        example: testuser
        type: string
      password:
        example: pa55word
        type: string
    type: object
  github_com_svenrisse_bookshelf_internal_models.Token:
    description: Token information
    properties:
      expiry:
        type: string
      token:
        type: string
    type: object
  github_com_svenrisse_bookshelf_internal_models.User:
    properties:
      activated:
        type: boolean
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
host: bookshelf.svenrisse.com
info:
  contact:
    email: svenrisse0@gmail.com
    name: API Support
  description: This is the API for the Bookshelf application.
  title: Bookshelf API
  version: "1.0"
paths:
  /v1/books:
    post:
      consumes:
      - application/json
      description: create book with fields
      parameters:
      - description: Add book
        in: body
        name: book
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
        "400":
          description: Bad Request
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: Create a Book
      tags:
      - books
  /v1/tokens/authentication:
    post:
      consumes:
      - application/json
      description: |-
        create a token for an account necessary for using certain endpoints
        account needs to be created, and activated!
      parameters:
      - description: Add book
        in: body
        name: email
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.CreateToken'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Token'
      summary: Create a bearer token
      tags:
      - tokens
  /v1/users:
    post:
      consumes:
      - application/json
      description: provide user account data
      parameters:
      - description: User account details
        in: body
        name: account
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.CreateUser'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.User'
      summary: Create a new user account
      tags:
      - users
  /v1/users/activated:
    put:
      consumes:
      - application/json
      description: activate an user an get :write permissions
      parameters:
      - description: TokenPlaintext
        in: body
        name: account
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.ActivateUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.User'
      summary: Activate an user account
      tags:
      - users
swagger: "2.0"
