{
    "swagger": "2.0",
    "info": {
        "description": "This is the API for the Bookshelf application.",
        "title": "Bookshelf API",
        "contact": {
            "name": "API Support",
            "email": "svenrisse0@gmail.com"
        },
        "version": "1.0"
    },
    "host": "bookshelf.svenrisse.com",
    "basePath": "/v1",
    "paths": {
        "/books": {
            "post": {
                "description": "create book with fields",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "books"
                ],
                "summary": "Create a Book",
                "parameters": [
                    {
                        "description": "Add book",
                        "name": "book",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/github_com_svenrisse_bookshelf_internal_data.Book"
                        }
                    }
                ],
                "responses": {}
            }
        }
    },
    "definitions": {
        "github_com_svenrisse_bookshelf_internal_data.Book": {
            "description": "Book information",
            "type": "object",
            "properties": {
                "author": {
                    "type": "string",
                    "example": "J.R.R. Tolkien"
                },
                "genres": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "Fantasy",
                        "Epic",
                        "Children's literature"
                    ]
                },
                "id": {
                    "type": "integer",
                    "example": 1
                },
                "pages": {
                    "type": "integer",
                    "example": 320
                },
                "title": {
                    "type": "string",
                    "example": "The Hobbit"
                },
                "version": {
                    "type": "integer",
                    "example": 1
                },
                "year": {
                    "type": "integer",
                    "example": 1937
                }
            }
        }
    }
}