basePath: /v1/
definitions:
  github_com_svenrisse_bookshelf_internal_models.Book:
    description: Book information
    properties:
      author:
        example: J.R.R. Tolkien
        type: string
      genres:
        example:
        - Fantasy
        - Epic
        - Children's literature
        items:
          type: string
        type: array
      pages:
        example: 320
        type: integer
      title:
        example: The Hobbit
        type: string
      year:
        example: 1937
        type: integer
    type: object
host: bookshelf.svenrisse.com
info:
  contact:
    email: svenrisse0@gmail.com
    name: API Support
  description: This is the API for the Bookshelf application.
  title: Bookshelf API
  version: "1.0"
paths:
  /v1/auth/{provider}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Discord / Github / Google
        in: path
        name: provider
        required: true
        type: string
      produces:
      - application/json
      responses:
        "302":
          description: Found
      summary: Let a User Login with given Provider
      tags:
      - users
  /v1/auth/{provider}/logout:
    get:
      consumes:
      - application/json
      parameters:
      - description: Discord / Github / Google
        in: path
        name: provider
        required: true
        type: string
      produces:
      - application/json
      responses:
        "302":
          description: Found
      summary: Let a User Logout with given Provider
      tags:
      - users
  /v1/books:
    post:
      consumes:
      - application/json
      description: create book with fields
      parameters:
      - description: Add book
        in: body
        name: book
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
        "400":
          description: Bad Request
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: Create a Book
      tags:
      - books
  /v1/books/{id}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Book ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Get a Book
      tags:
      - books
    patch:
      consumes:
      - application/json
      parameters:
      - description: Book ID
        in: path
        name: id
        required: true
        type: integer
      - description: Provide Fields to change
        in: body
        name: book
        required: true
        schema:
          $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_svenrisse_bookshelf_internal_models.Book'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "409":
          description: Conflict
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: Update a book by providing new values
      tags:
      - books
swagger: "2.0"
